build/
*build/
cmake-build-debug/
cmake-build-remote-lab/*
cmake-build-default/*
CMakeFiles/

*.casadi
*.npy
.idea/

LCM-Types/java
LCM-Types/file_list.txt
LCM-Types/cpp/*
LCM-Types/csharp/*
LCM-Types/lcmtypes/*
LCM-Types/python/*

third-parties/CoinIpopt/ThirdParty/Blas/*
*.m~
*.asv
*.avi
*.swp
*.pyc

.DS_Store
tags
*.cache
.vscode/

.ftpconfig
.~lock.notes.odt#
notes.odt
